#card_container {
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
    border: 2px solid #785a29;
    border-radius: 30px;
    padding: 15px;
}

#card_container img {
    max-width: 150px;
}

#card_title {
    text-align: center;
    font-size: 30px;
}

#card_written {
    justify-content: center;
    text-align: justify;
}
