#container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #644b4b ; 
    color: white;
    padding: 15px;
}

#container_written {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}

#paint {
    width: 50%;
    justify-content: center;
    display: flex;
}

#container img {
    display: flex;
    align-self: center;
    border-radius: 10px;
}

#title {
    font-size: 40px;
    font-weight:600;
}
